//colors

$clr-white : #fff;
$clr-heading : #19223F;
$clr-text: #767A93;
$clr-btn-primary: #382AE1;
$clr-btn-secondary: #7B8296;
$clr-btn-primary-active: #766CF1;
$clr-btn-secondary-active: #22304B;




@import "_global";
@import "_card";